<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<a href="/"><h1 class="p-3 mb-2 bg-primary text-white">Moviology</h1></a></head>
<body>
		<div>
			<h2>Name : {{result[0]['title']}} </h2>
			{% for row in result %}
			<div class="card bg-light mb-3" style="max-width: 30%;">
			<form method="GET" action="/production">
                        <input type="hidden" name="name" value={{row['pid']}}>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">{{row['name']}}</button>
                        </form>
			<h3>Age : {{ row['age'] }}</h3>
                        <h3>Nationality : {{ row['nationality'] }}</h3>
			</div>
			{% endfor %}

			</div>
		</div>
	</body>
</html>
