<html>
<header><a href="/"><h1>Moviology</h1></a></header>
	<style>.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}</style>
	<body>
		<h1>Search Results for "{{request.args.get('name')}}"</h1>
		<div>
			<h2>Production names</h2>
			{% for row in result %}
			<div>
			<form method="GET" action="/production">
                        <input type="hidden" name="name" value={{row['pid']}}>
                        <button type="submit" class="link-button">{{request.args.get('name')}}</button>
                        </form>
                        <h3>Age : {{ row['age'] }}</h3>
                        <h3>Nationality : {{ row['nationality'] }}</h3>
                        <h3>Role : {{ row['title'] }}</h3>
			------------------------------------
			</div>
			{% endfor %}

			</div>
		</div>
	</body>
</html>
