<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<a href="/"><h1 class="p-3 mb-2 bg-primary text-white">Moviology</h1></a></head>
<body>
                <div>
			{% for row in result[0] %}
			<h1 class="card bg-light mb-3" style="max-width: 50%;">{{ row['title'] }}</h1>

			<h2 class="card bg-light mb-3" style="max-width: 50%;">Release Date : {{ row['release_date'] }}</h2>

			<h2 class="card bg-light mb-3" style="max-width: 50%;">Content Rating : {{ row['content_rating'] }}</h2>

			<h2 class="card bg-light mb-3" style="max-width: 50%;">Running Time : {{ row['running_time']//60 }}h {{ row['running_time']%60 }}min</h2>

			<h2 class="card bg-light mb-3" style="max-width: 50%;">Gross (Box Office) : {{ row['gross'] }}</h2>

			<h2 class="card bg-light mb-3" style="max-width: 50%;">Story Line : </h2>
			

			<p class="card bg-light mb-3" style="max-width: 50%;">{{ row['storyline'] }}<p>
			
			{% endfor %}
			<div class="card bg-light mb-3" style="max-width: 50%;">
			<h2>Genres</h2>
			{% for p in result[6] %}
                        <form method="GET" action="/genre">
                        <input type="hidden" name="name" value={{p['gid']}}>
                        <button type="submit" class="link-button">{{p['genre']}}</button>
                        </form>
			{% endfor %}
			</div>
			<div class="card bg-light mb-3" style="max-width: 50%;">
			<h2>Languages : </h2>
                        {% for p in result[4] %}
                        <div>
                        <form method="GET" action="/language">
                        <input type="hidden" name="name" value={{p['lid']}}>
                        <button type="submit" class="link-button">{{p['languagename']}}</button>
                        </form>
                        </div>
                        {% endfor %}
			</div>
			<div class="card bg-light mb-3" style="max-width: 50%;">
			<h2>Actors : </h2>
			{% for p in result[1] %}
			<div>
			<form method="GET" action="/production">
                        <input type="hidden" name="name" value={{p['pid']}}>
                        <button type="submit" class="link-button">{{p['name']}}</button>
                        </form>
			</div>
			{% endfor %}
			</div>
			<div class="card bg-light mb-3" style="max-width: 50%;">
			<h2>Directors : </h2>
                        {% for p in result[2] %}
                        <div>
                        <form method="GET" action="/production">
                        <input type="hidden" name="name" value={{p['pid']}}>
                        <button type="submit" class="link-button">{{p['name']}}</button>
                        </form>
                        </div>
                        {% endfor %}
			</div>
			<div class="card bg-light mb-3" style="max-width: 50%;">
			<h2>Writers : </h2>
                        {% for p in result[3] %}
                        <div>
                        <form method="GET" action="/production">
                        <input type="hidden" name="name" value={{p['pid']}}>
                        <button type="submit" class="link-button">{{p['name']}}</button>
                        </form>
                        </div>
                        {% endfor %}
			</div>
			<div class="card bg-light mb-3" style="max-width: 50%;"> 
			<h2>Production Company : </h2>
                        {% for p in result[5] %}
                        <div>
                        <form method="GET" action="/company">
                        <input type="hidden" name="name" value={{p['pc_id']}}>
                        <button type="submit" class="link-button">{{p['title']}}</button>
                        </form>
                        </div>
                        {% endfor %}
			</div>

			
                </div>

</body></html>
